.rootSurface {
    background-color: #DDFCFC;
}
circle.node {
  cursor: pointer;
}
circle.nodeWarn {
  stroke: #ff9900;
  stroke-width: 1.5px;
}
circle.nodeError {
  stroke: #FF0000;
  stroke-width: 1.5px;
}
circle.nodeRoot {
    fill: green;
}
circle.nodeLeaf {
  fill: grey;
}
circle.nodeHidden {
  opacity: 0
}
.label {
  font: 8px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
.applink {
    text-anchor: middle;
    font-family: NotoSansBold,Helvetica,Arial;
    color: #337ec6;
    text-decoration: none;
    font-size: 8px;
    font-weight: normal;
    text-align: left;
}